<ng-container>
   <mybudget-title title="Home"></mybudget-title>
   <div class="w-100 d-flex justify-between" >
      <app-stats-card class="w-30" icon="dataset" title="Projects" [count]="( projects$ | async )?.length"></app-stats-card>
      <app-stats-card class="w-30" icon="group" title="Groups" [count]="(groups$ | async )?.length"></app-stats-card>
      <app-stats-card class="w-30" icon="person" title="Categories" [count]="(categories$ | async )?.length"></app-stats-card>
   </div>
   <div class="d-flex justify-between mt-20">
      <mat-card class="w-45 rounded-md shadow-md">
         <app-pie></app-pie>
      </mat-card>
      <mat-card class="w-45 rounded-md shadow-md">
         <app-stacked-bar></app-stacked-bar>
      </mat-card>
   </div>
</ng-container>