<form
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit()"
  class="d-flex justify-center p-14"
>
  <div class="d-flex flex-col items-center w-25">
    <label for="image" class="cursor-pointer">
      <img
        [src]="profileForm?.controls?.image?.value"
        class="avatar-md rounded-full"
      />
    </label>
    <p class="mt-6 text-2xl">
      {{ profileForm.controls.firstName.value }}
      {{ profileForm.controls.lastName.value }}
    </p>

    <input
      type="file"
      id="image"
      class="hidden"
      #userPhoto
      (change)="onFileSelected($event)"
      name="image"
      autocomplete="off"
    />
  </div>
  <div class="d-flex flex-col w-50 ml-6">
    <mat-form-field class="mb-6">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" placeholder="First Name" />
    </mat-form-field>

    <mat-form-field class="mb-6">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" placeholder="Last Name" />
    </mat-form-field>

    <mat-form-field class="mb-6">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Username" />
    </mat-form-field>

    <mat-form-field class="mb-6">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Email"
      />
    </mat-form-field>

    <mat-form-field class="mb-6">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phone" placeholder="+33 6 33 33 33 33" />
    </mat-form-field>

    <mat-form-field class="mb-6">
      <mat-label>Birthdate</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [max]="maxDate"
        formControlName="birthdate"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mb-6">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" placeholder="Address" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="profileForm.invalid"
    >
      Update Profile
    </button>
  </div>
</form>
