$brand-primary: #00A9E3;
$brand-primary-dark: #004385;
$brand-primary-light: #fff;

$brand-secondary-1:#B3E5F6;
$brand-secondary-2:#0089C6;
$brand-secondary-3:#FF6F61;
$brand-secondary-4:#63A375;
$brand-secondary-5:rgba(255,161,97,0.5);

$brand-neutral-1:#000000;
$brand-neutral-2:#7A7977;
$brand-neutral-3:#C4C2C0;
$brand-neutral-4:#F4F4F4;
$brand-neutral-5:#F1EDE7;

$brand-shadow: #e4e4e4;