<table mat-table [dataSource]="rowData" class="mat-elevation-z8">  
  <ng-container *ngFor="
      let column of columnsDefs;
      let index = index;
      let isFirst = first;
      let isOdd = odd
    " [matColumnDef]="column.content">
    <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
    <td mat-cell *matCellDef="let element">
      {{element[column.content]}}
    </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef>Color</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon [style.color]="element.color">brightness_1</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef>Group</th>
    <td mat-cell *matCellDef="let element">
      <a *ngFor="let group of element.groups" class="decoration-none font-primary"
        [routerLink]="'/dashboard/groups/' + group + '/edit'">{{ group + ', '}}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef>Icon</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="font-light-grey">{{element.icon}}</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="budget">
    <th mat-header-cell *matHeaderCellDef>Budget</th>
    <td mat-cell *matCellDef="let element">
      {{element.budget | currency:'EUR'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="members">
    <th mat-header-cell *matHeaderCellDef>Members</th>
    <td mat-cell *matCellDef="let element">
      <img class="avatar" *ngFor="let member of element.members" [src]="'assets/images/default-user.png'" />
    </td>
  </ng-container>

  <ng-container matColumnDef="birthdate">
    <th mat-header-cell *matHeaderCellDef>Birthdate</th>
    <td mat-cell *matCellDef="let element">
      {{element.birthdate.toDate() | date}}
    </td>
  </ng-container>

  <ng-container *ngIf="tableOptions?.actions">
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-right">Actions</th>
      <td mat-cell *matCellDef="let element" class="text-right">
        <button mat-icon-button *ngFor="let action of tableOptions?.actions" [matTooltip]="action.name | uppercase"
          color="primary" (click)="handleClick({name: action.name, element})">
          <mat-icon>{{action.icon}}</mat-icon>
        </button>
      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>