<div class="w-50 mx-auto mt-8">
    <h1 class="mt-8 font-primary">{{title}}</h1>
    <mat-card class="d-flex mt-8">
        <form class="form d-flex flex-col w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-control">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text" required />
                <mat-error *ngIf="name?.hasError('required')">
                    Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-control">
                <mat-label>Budget</mat-label>
                <input matInput formControlName="budget" type="number" />
            </mat-form-field>
            <mat-form-field class="form-control">
                <mat-label>Members</mat-label>
                <mat-select multiple>
                  <mat-option *ngFor="let user of users | async" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-card-actions align="end">
                <button [disabled]="form.invalid" color="primary" mat-raised-button type="submit">
                    Submit
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>